* {
    box-sizing: border-box;
}

:root {
    --accent-color: #2196f3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header section */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background: #ffffff;
}

.header-item {
}

.header-list {
}

.header-item-mail-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-item-mail-tel:hover,
.header-item-mail-tel:focus {
    color: var(--accent-color);
}

/* navigation section */

.navigation {
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #2196f3;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: #ffffff;
}

.navigation-list {
}

.navigation-item {
}

.navigation-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color: var(--accent-color);
}

/* hero section */

.hero {
    padding-top: 200px;
    padding-bottom: 280px;
    text-align: center;
    background: #2f303a;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
}

.title-btn:hover,
.title-btn:focus {
    color: var(--accent-color);
}

/* about section */

.about {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #ffffff;
}

.about-list {
    display: flex;
    text-align: center;
}

.about-item {
}

.about-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.about-after-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* --- work-section --- */

.work-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    text-align: center;
}

/* --- personal-section --- */

.personal {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #ffffff;
}

.personal-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.personal-list {
    display: flex;
    text-align: center;
}

.personal-section-item {
}

.personal-title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.personal-after-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* --- footer-section --- */

.address {
    font-style: normal;
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}

.footer-link {
}

.footer-item {
}

.footer-map {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-item-mail-tel {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

/* --- menu-section 2 stor --- */

.btn-list {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.btn-list:active {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #2196f3;
}

.menu-btn-list {
    display: inline-flex;
    margin-top: 94px;
    margin-bottom: 34px;
}

.btn-list:hover,
.btn-list:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.menu-section-list {
}

.menu-section {
    display: inline-block;
    margin-top: 34px;
    margin-bottom: 94px;
    text-align: center;
}

.menu-section:hover,
.menu-section:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.menu-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
}

.menu-after-title {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
